header {
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    font-size: 20px;
    padding: 22px;
    color: #C0D9D9;
    background-color: #4682B4;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: #fff;
    height: 100px;
}

body {
    margin: 0px;
    background-color: #C0D9D9;
}

a {
    color: #C0D9D9;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.button:hover {
    background-color: #0056b3;
}

section {
        margin-left:  200px;
}

input, button, ::placeholder {
    border-radius: 20px;
    background-color: #4682B4;
    color: #fff;
}