header {
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    font-size: 20px;
    padding: 20px 20px 22px 22px;    
    color: #C0D9D9;
    background-color: #4682B4;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: #fff;
    height: 100px;
}

body {
    margin: 0px;
    background-color: #C0D9D9;
}

a {
    color: #C0D9D9;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.button:hover {
    background-color: #0056b3;
}

section {
    margin-left:  200px;
}

input, button {
    border-radius: 5px;
    background-color: #4682B4;
    color: #fff;
}

.forum-ex1,
.forum-ex2,
.forum-ex3 {
    border: 2px solid #4682B4;
    padding: 10px 10px;;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1.5em;
    color: #0b314f;
}

.forum-buttons,
.search-key,
.filter {
    text-align: right; /* Alinhe os botões à direita */
    padding: 10px;
    margin-right: 150px;
}

.forum-buttons button,
.search-key button,
.filter button {
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.header {
    background-color: #fff;
    color: #0b314f;
}