* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}

.header {
    background-color: #fff;
    color: #0b314f;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    font-size: 20px;
    margin-top: 10px;
    padding: 20px 20px 22px 22px;    
    color: #C0D9D9;
    background-color: #4682B4;
}

body {
    background-color: #C0D9D9;
}

a {
    color: #C0D9D9;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.button:hover {
    background-color: #0056b3;
}

input, button {
    border-radius: 5px;
    background-color: #4682B4;
    color: #fff;
}

.feedForum {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.forum-ex1,
.forum-ex2,
.forum-ex3 {
    border: 2px solid #4682B4;
    padding: 10px 10px;;
    margin-left: 12%;
    margin-bottom: 10px;
    width: 70%;
    font-size: 1.5em;
    color: #0b314f;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.forum-ex1.show,
.forum-ex2.show,
.forum-ex3.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.forum-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 20px;
    top: 195px;
}

.new-forum,
.search-key,
.filter {
    padding: 10px;
}

.new-forum button,
.search-key button,
.filter button {
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: #fff;
    height: 100px;
}

header form button.searchArea {
    border-radius: 20px;
    background-color: #fff;
    color: #0b314f;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

header form input.searchArea {
    border-radius: 20px;
    background-color: #fff;
    color: #0b314f;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

header form input.searchArea::placeholder {
    border-radius: 20px;
    background-color: #fff;
    color: #0b314f;
}
