header {
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    font-size: 20px;
    margin-top: 7px;
    padding: 20px 20px 22px 22px;    
    color: #C0D9D9;
    background-color: #4682B4;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: #fff;
    height: 100px;
}

body {
    margin: 0px;
    background-color: #C0D9D9;
}

input, button, ::placeholder {
    border-radius: 20px;
    background-color: #4682B4;
    color: #fff;
}

section {
    margin-left: 150px;
}

img {
    width: 350px;
    height: 250px;
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: inherit;
}

.dicas {
    margin: 10px;
    padding: 10px;
    border: 3px solid #4682B4;
    font-size: 30px;
    color: #0b314f;
    display: flex;
    align-items: center;
}

.dicas p {
    margin-top: 10px;
}