header {
    background-color: #4682B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}

.logo {
    width: 150px;
    height: 150px;
}

h1 {
    color: #fff;
    font-weight: 300;
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 17%x;   
    position: fixed;
    font-size: 20px;
    padding: 20px 20px 22px 22px;    
    color: #C0D9D9;
    background-color: #4682B4;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: #fff;
    height: 100px;
}

body {
    margin: 0px;
    background-color: #C0D9D9;
}

section {
    padding-left: 10px;
    margin: 0px 150px;
}

img {
    width: 400px;
    height: 250px;
    padding: 10px;
}

a:active {
    color: inherit;
}

.sobre {
    color: #0b314f;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    text-align: left;
    padding-left: 12%;
}

video {
    width: 85%;
    height: 80%;
    margin-left: 13%;
    justify-content: center;
}

header form button.searchArea {
    border-radius: 20px;
    background-color: #fff;
    color: #0b314f;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

header form input.searchArea {
    border-radius: 20px;
    background-color: #fff;
    color: #0b314f;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

header form input.searchArea::placeholder {
    color: #0b314f;
}
